<h1>NYC Landmarks</h1>


<ul>
  <li><a href="/landmarks">See All the NYC Landmarks</a></li>
  <li><a href="/figures">See All the Figures</a></li>
  <li><a href="/landmarks/new">Add a Landmark</a></li>
  <li><a href="/figures/new">Add a Figure</a></li>
</ul>
